footer
{
    bottom: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}
body
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #221c4d;
    color: aliceblue;
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #F7F7F7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 0px;
}
.dropdown 
{
    position: relative;
    text-decoration: none;
}

.dropdown:hover .dropdown-content 
{
    display: block;
}
.encabezado
{
        background-color: #F7F7F7;
        display: flex;
        width: 100%;
}
.Logo
{
    width: 20em;
}
nav ul li
{
    float: left;
    list-style: none;
    padding: 2rem;
}
nav ul li a
{
    text-decoration: none;
}
.portada
{
    display: flex;
    height: 25rem;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.descripcion
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
    position: relative;
    position: absolute;
    top: 18.5rem;
    width: 40rem;
    color:black;
}


.tarjeta {
    position: relative;
    border: 1px solid #dcdcdc;
    width: 25em; 
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 4rem 1rem;
}

.imagen-disco {
    padding: 60px 20px 20px 20px; 
    text-align: center;
}

.imagen-disco img {
    height: 10rem;
}

.info{
    padding: 2 rem;
}

.titulo{
    font-size: 16px;
    color: #000;
    margin: 1rem 0.5rem; 
    line-height: 1.4;
}

.precio {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin: 0 1 rem;
}
.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}
.precio-viejo {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    margin: 0 1 rem;
    text-decoration: line-through;
}

.boton-comprar {
    display: flex;
    padding: 10px 20px;
    background-color: #06386e;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    justify-items: center;
}
.boton-comprar:hover {
    background-color: #506178;
}

.formulario
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;  
}

.input
{
    padding: 0.5rem;
    margin: 0.5rem;
    width: 20rem;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}